# Configuración de APIs para consulta de RUC
# Copia este archivo a .env y ajusta los valores

# API Migo (principal)
MIGO_TOKEN=zV6s4CQCvNxxNZ6lSeKF0nIOaVq3axrtcU6lZQS7p74LrQQRg6MPUrLYCS6D
MIGO_URL=https://api.migo.pe/api/v1/ruc

# API Nubefact (respaldo - opcional)
NUBEFACT_TOKEN=
NUBEFACT_URL=https://facturacion-electronica.nubefact.com/api/v1/ruc
