# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
nul
keys.txt
src-tauri/target
src-tauri/gen
src-tauri/data/
src-python/python-x86/
src-python/build/
src-python/dist/
src-python/*.spec
src-tauri/binaries/
__pycache__
*.pyc
venv
.venv
update-private_key.pem
**/*.accdb
**/*.key
**/sidecar.log
